@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
:root {
  --primary-color: #393e46;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}
.container-fluid {
  padding-left: 1rem;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.3rem;
  color: white;
}
.secondary-link {
  color: var(--primary-color);
  border-radius: 0.3rem;
  border: 1px solid var(--primary-color);
}
