@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
:root {
  --primary-color: #3f72af;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
}
hr {
  margin: 2rem 0rem;
}
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}
.container-fluid {
  padding-left: 1rem;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.3rem;
  color: white;
}
.secondary-link {
  color: var(--primary-color);
  border-radius: 0.3rem;
  border: 1px solid var(--primary-color);
}

.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.3rem;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-radius: 0 0 0.3rem 0.3rem;
}
.navigation .nav-brand {
  font-weight: bold;
  font-size: x-large;
}
.navigation .nav-pills {
  text-align: right;
}
.navigation .link {
  color: white;
}

.hero {
  padding: 0.5rem;
}
.hero .hero-image {
  max-width: 350px;
  display: block;
  margin: auto;
}
.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem;
  color: #222831;
}
.hero .hero-heading .heading-inverted {
  color: #3f72af;
}
.section {
  padding: 1.5rem;
}
.section h1 {
  text-align: center;
}
.ow {
  background-color: #eeeeee;
}
.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-radius: 0.25rem;
}
.footer .link {
  color: white;
}
.footer ul {
  padding-inline-start: 0px;
}
